# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/

# Training (2.3 Go — pas nécessaire pour l'exécution)
training/

# Fichiers temporaires
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Fichiers de test temporaires
tests/samples/

# Logs
*.log
